@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsla(0, 0%, 100%, 0.516);
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1b70b1f2;
    padding: 1rem;
}

.form-image img {
    justify-content: flex-start;
    width: 20rem;
}

.form-image h1 {
    margin-top: 4rem;
    color: white;
    font-size: 48px;
    font-weight: bold;
}

.form-image-footer {
    display: flex;
    align-items: center;
    margin-top: 5.8rem;
    justify-content: space-between;
}

.form-image-footer p {
    color: #D9D9D9;
    opacity: 0.5;
}

.form-image-footer img {
    width: 8rem;
    margin-left: 10rem;
}

.form {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
    background-image: url("{% static 'assets/imagens/Stroke 5.png' %}");
    background-repeat: no-repeat;
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}